/* ////// SITE ////// */

#canvas-wrapper {
  box-shadow: 0 0 60px 10px fadeout(#000000, 50%);
}

/* hides the featured post to display it in the Blog page header area */
.homepage .category-featured {
  display: none;
}

/* hides the Blog page header area to not show the Featured post on the article pages */
.view-item #page-header-51fa4243e4b06f04f14f2136 {
  display: none;
}

.view-item article {
  margin-top: 20px;
  }

#banner-wrapper {
  overflow: hidden;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

#banner {
  float: left;
  margin-bottom: 0 !important;
}

.logo-subtitle {
  left: 30px;
  line-height: 1.2em;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.6),	  /* top-left */
				1px 1px 1px rgba(0,0,0,0.6),	/* bottom-right */
			   -1px 1px 1px rgba(0,0,0,0.6),	/* bottom-left */
				1px -1px 1px rgba(0,0,0,0.6),	/* top-right */
				0px 2px 1px rgba(0,0,0,0.6),	/* bottom */
				0px -1px 1px rgba(0,0,0,0.6),	/* top */
				1px 2px 2px rgba(0,0,0,0.6);
  top: 1.5em;
}

#navigation-bottom {
  background-image: url(http://static.squarespace.com/static/50acbf0ee4b04170ccae3b85/t/52bd83aae4b0a700e59f2a36/1388151722852/yellow-bar.png);
  background-repeat: no-repeat;
  background-position: top left;
  
  ul {
	padding-left: 30px;
	padding-right: 30px;
  }

}

#navigation-top {
  background-image: url(http://static.squarespace.com/static/50acbf0ee4b04170ccae3b85/t/51f7aad0e4b088f41b0fadbc/1375185616085/top-nav-bg.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  
  ul {
	padding-right: 10px;
  }
}

#main-navigation {
  
  ul li a,
  .delimiter {
	text-shadow: 0 1px 2px rgba(240,230,0,0.9);
  }
  
  ul li.active-link a {
	text-shadow: 0px -1px 3px rgba(122,110,1,0.9);
  }
  
  .delimiter {
	color: #161719 !important;
  }
  
	.subnav {
	right: -0.5em !important;
  }

  .subnav ul {
	background-color: rgba(255,255,255,0.9) !important;
	border: 1px solid rgba(0,0,0,0.2) !important;
	border-radius: 0;
	float: right;
	padding: 0 !important;
	
	li {
	  padding: 0.5em 0;
	  &:hover { background-color: rgba(0,0,0,0.8); color: #fff6f0; }
	  a { text-shadow: 0 1px 2px rgba(0,0,0,0.3) !important; }
	}	 
  }

}

#page-body-wrapper {
  /*background-image: url(http://static.squarespace.com/static/50acbf0ee4b04170ccae3b85/t/51f7adfce4b03ad18b928639/1375186428155/yellow-bar.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 40px;*/
}

#sidebar-one,
#sidebar-two {
  padding-top: 1em;
}

#sidebar-one-wrapper {
}

#sidebar-one {
  background: -moz-linear-gradient(left,  rgba(87,73,67,0.1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(87,73,67,0.1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,	 rgba(87,73,67,0.1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,	rgba(87,73,67,0.1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,	 rgba(87,73,67,0.1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(left,	 rgba(87,73,67,0.1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a574943', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 0;
  -webkit-border-radius: 0px 0px 0 10px;
  -moz-border-radius: 0px 0px 0 10px;
  border-radius: 0px 0px 0 10px;
  
  h3 {
	  border-bottom: 1px solid #616161;
	  margin-top: 2em;
  }
}

#sidebar-one .slide {
  border: 1px solid fadeout(black, 50%) !important;
  display: block;
  overflow: hidden;
}

.event-menu {
  -moz-box-shadow:	  -1px 1px 2px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.2);
  box-shadow:		  -1px 1px 2px 1px rgba(0,0,0,0.2);
}
  
[data-type~="page"],
article,
#page-footer-wrapper,
.pagination .content-wrapper,
#commenting {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

[data-type~="page"] {
  padding-top: 60px;
}

.pagination {
  border-bottom: none;
  border-top: none;
  padding-top: 10px;
}

.pagination ul li a {
  color: #000000 !important;
}

/* ////// END SITE ////// */


/* ////// BLOG PAGE HEADER ////// */

#page-header-51fa4243e4b06f04f14f2136 {
  background-color: rgba(0,17,25,1);
  background-image: url(http://static.squarespace.com/static/50acbf0ee4b04170ccae3b85/t/51f7ae5be4b0dcb625419b33/1375186523771/recently.gif);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  margin-bottom: 40px;
  min-height: 392px;
  padding: 1em 2em 0;

  .summary-block {
	padding-bottom: 0;
  }
  
  .summary-item, .summary-content {
	margin-bottom: 0;
  }
  
  .summary-thumbnail {
	border: 1px solid #c8c8c8;
	min-height: 218px !important;
	@media only screen and (max-width: 640px) { 
	  margin-bottom: 1em;
	}

  }
  
  .latest-show {
	border-bottom: 2px solid fadeout(#efe67e, 80%);
	color: #efe67e;
	letter-spacing: 5px;
	text-transform: uppercase;
  }

  .thumbnail-caption {
	font-size: 0.6em;
  }
  
  .summary-excerpt {
	color: #C9A800;
	font-size: 1.2em;
	margin-bottom: 0;
  }
  
  .summary-excerpt p {
	line-height: 1.3em;
  }
  
  .summary-excerpt p:last-of-type {
	margin-bottom: 0;
  }
  
  .summary-title {
	font-family: "Bubblegum Sans";
	font-size: 28px;
	line-height: 1em;
	text-transform: none;
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
	margin: 0;
  }
  
  .summary-title a:hover {
	color: #da820c;
  }
  
  .summary-title a:link,
  .summary-title a:visited {
	color: #efe67e;
  }
  
  .timestamp {
	display: none;
  }
  
  #block-44ae42831468706be78a {
	
	a {
	  background-color: #fff;
	}
  }
  
}

/* ////// END BLOG PAGE HEADER ////// */

/* ////// CONTENT ////// */

#block-cc9830cea390772c01e7 {
  padding: 1em 0 0 !important;
}

.podtracTextButton, #block-44ae42831468706be78a {
  
  a {
	background-color: #ee432e;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
	background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
	background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
	background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
	background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
	background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
	border: 1px solid #951100;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
	-ms-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
	-o-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
	color: #fff !important;
	float: right;
	font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
	line-height: 1em;
	margin: 0 0 1em 0;
	padding: 12px 31px 14px;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
	width: 150px;
  }
  
  a:active {
	background-color: #d43c28;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
	background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
	background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
	background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
	background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
	background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
	-ms-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
	-o-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  }
  
  a:hover {
	background-color: #f37873;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
	background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
	background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
	background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
	background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
	background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
	cursor: pointer;
  }
  
}

#block-44ae42831468706be78a {
  float: none;
  a {
	padding: 0.5em 0;
	width: 100%;
  }
}

.article-dateline .delimiter {
  color: fadeout(black, 75%);
}  

.enclosureWrapper {
  margin-top: 15px;
}

.enclosure {
  background: url(http://static.squarespace.com/static/50acbf0ee4b04170ccae3b85/t/51f7aed6e4b03ad463d858cd/1375186646682/download_file.gif) no-repeat 0 0 !important;
  font-size: 10px;
  padding: 4px 0 4px 20px !important;
}

.excerpt-thumb {
  border: 2px solid fadeout(black, 85%);
  width: 33% !important;
}

.article-meta {
  background: -moz-linear-gradient(top,	 rgba(87,73,67,0) 0%, rgba(87,73,67,0.1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(87,73,67,0)), color-stop(100%,rgba(87,73,67,0.1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,	rgba(87,73,67,0) 0%,rgba(87,73,67,0.1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(87,73,67,0) 0%,rgba(87,73,67,0.1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,	rgba(87,73,67,0) 0%,rgba(87,73,67,0.1) 100%); /* IE10+ */
  background: linear-gradient(top,	rgba(87,73,67,0) 0%,rgba(87,73,67,0.1) 100%); /* W3C */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00574943', endColorstr='#1a574943',GradientType=0 ); IE6-9 */
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid rgba(0,0,0,0.1);
  border-top: none !important;
  padding: 8px 14px;
}


/* ADD THIS ////// */

.view-list {
  .article-meta {
	display: none;
  }
  .post-entry-injection {
	display: none;
  }
}

.addthis_toolbox {
  padding: 1em 0 0 0;
  overview: auto;

  .at300b {
	width: auto;
	min-width: 18%;
  }
}

.addthis_button_facebook_like {
  margin-right: 1em;
}

/* END ADD THIS ////// */


.thumbnail-caption {
  font-size: 0.8em;
  line-height: 1.2em;
  padding: 1em 0.5em;
}

.inline-action {
  clear: both;
  width: 100%;
}

.inline-action a {
  float: right;
  margin-top: 1em;
  padding: 12px 0;
  text-align: center;
  width: 100%;
  background: rgba(0,0,0,0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.inline-action a:hover {
  background: rgba(0,0,0,0.2);
}

.categories .icon-bookmark:after {
  content: " Categories: ";
}

.tags .icon-tag:after {
  content: " Tags: ";
}

/* ////// END CONTENT ////// */

/* ////// SIDEBAR ////// */

/* meanwhile image at top of sidebar over orange background image */

#block-6908fe01e2ab1253ee47 {
  padding-bottom: 1em;
}

#block-6908fe01e2ab1253ee47 .intrinsic {
  margin: 0;
}

/* meanwhile summary block */

#block-c2900ab71e9a7507ed82 {
  background-image: url(http://static.squarespace.com/static/50acbf0ee4b04170ccae3b85/t/52bec13ae4b0159b369f8137/1388233018581/meanwhile.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  margin-left: -13px;
  margin-right: -13px;
  padding-top: 1em;
  
  .sqs-block-content {
  	background-image: url(http://static.squarespace.com/static/50acbf0ee4b04170ccae3b85/t/51f7af01e4b070a3c3e6e4be/1375186689962/Meanwhile-caption.gif);
  	background-position: 8px 0;
  	background-repeat: no-repeat;
  	padding-top: 60px;
  	}

  .summary-title {
	line-height: 1.2em;
	margin: 0 0 0.25em 0;
	text-shadow: -1px -1px 1px rgba(134,63,31,1.0),	  /* top-left */
				  1px 1px 1px rgba(134,63,31,1.0),	  /* bottom-right */
				 -1px 1px 1px rgba(134,63,31,1.0),	  /* bottom-left */
				  1px -1px 1px rgba(134,63,31,1.0),	  /* top-right */
				  0px 2px 1px rgba(134,63,31,0.7),	  /* bottom */
				  0px -1px 1px rgba(134,63,31,0.7),	  /* top */
				  1px 2px 2px rgba(112,46,21,1.0);
  }
  
  .summary-title a:hover {
	color: #f3eb8d;
  }
  
  .summary-title a:link,
  .summary-title a:visited {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: normal;
	margin: 0 0 0 0;
  }
  
  .summary-thumbnail,
  .summary-excerpt,
  .timestamp {
	display: none;
  }
  
  .summary-item {
	background-image: url(http://static.squarespace.com/static/50acbf0ee4b04170ccae3b85/t/51f7af20e4b0f58fade378b9/1375186720830/meanwhile-arrow.png);
	background-position: top left;
	background-repeat: no-repeat;
	padding: 6px 0 0 37px;
  }
  
  .summary-item,
  .summary-content {
	margin-bottom: 0 !important;
  }
  
}

/* end meanwhile summary block */

/* social icons in sidebar */

.social-account-list {

  a {
	text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  }
  
  a.social-twitter {
	color: #2cacdd !important;
  }
  
  a.social-facebook {
	color: #3b5988 !important;
  }
  
  a:hover,
  a.social-facebook:hover,
  a.social-flickr:hover,
  a.social-twitter:hover,
  a.social-youtube:hover {
	color: #c46d1c !important;
  }
  
  a.social-flickr {
	color: #ff0084 !important;
  }
  
  a.social-youtube {
	color: #ff3132 !important;
  }
  
}

/* end social icons in sidebar */


.calendar-block {
  padding: 12px 0 0 30px !important;
}

/* ////// END SIDEBAR ////// */

/* ////// FOOTER ////// */

#page-footer-wrapper {
  background-color: fadeout(#e3e3e3, 50%);
  border-top: 1px solid darken(#e3e3e3, 5%);
  color: #333;
}

.footerCredits {
  font-size: 0.7em;
  text-align: right;
}

/* ////// END FOOTER ////// */


/* ////// MEDIA QUERY - iPAD VERTICAL AND SMALLER ////// */

@media only screen and (max-width: 1023px) { 
  
  #navigation-bottom {
	background-position: -10px top;
  }
  
		
	
  #page-header-51fa4243e4b06f04f14f2136 {
	  background-image: none;
	}

	[data-type~="page"],
	article,
	#page-footer-wrapper,
	.pagination .content-wrapper,
	#commenting {
	  padding-left: 30px !important;
	  padding-right: 30px !important;
	}

	.subnav {
	  right: -0.5em !important;
	}

	.subnav ul {
	  background-color: rgba(23,38,46,0.4) !important;
	  -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  border-radius: 10px;
	  border: 1px solid rgba(23,38,46,0.5) !important;
	  float: right;
	}

	#sidebar-one {
	  background: -moz-linear-gradient(top,  rgba(87,73,67,0.1) 0%, rgba(255,255,255,0) 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(87,73,67,0.1)), color-stop(100%,rgba(255,255,255,0)));
	  background: -webkit-linear-gradient(top,	 rgba(87,73,67,0.1) 0%,rgba(255,255,255,0) 100%);
	  background: -o-linear-gradient(top,	rgba(87,73,67,0.1) 0%,rgba(255,255,255,0) 100%);
	  background: -ms-linear-gradient(top,	 rgba(87,73,67,0.1) 0%,rgba(255,255,255,0) 100%);
	  background: linear-gradient(to bottom,  rgba(87,73,67,0.1) 0%,rgba(255,255,255,0) 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a574943', endColorstr='#00ffffff',GradientType=0 );
	  -webkit-border-radius: 0px;
	  -moz-border-radius: 0px;
	  border-radius: 0px;
	}

	#block-c2900ab71e9a7507ed82 .summary-title {
	  line-height: 1.2em;
	  margin: 0 0 0.25em 0;
	}

}

/* ////// END MEDIA QUERY - iPAD VERTICAL AND SMALLER ////// */

@media only screen and (min-width: 641px) and (max-width: 799px) { 
  
  #navigation-bottom {
	background-position: top right;
  }
  
  /* .horizontal-navigation-bar nav ul li a {
	padding-right: 0.15em;
  } */
  
  span.delimiter {
	display: none;
  }
  

}

@media only screen and (max-width: 768px) { 
  
  #sidebar-one-wrapper {
	background-image: none;
  }
  
  /* Footer Meanwhile */
  #block-c2900ab71e9a7507ed82 {
	  background-image: none;
	  
	  .sqs-block-content {
		background-image: url(http://static.squarespace.com/static/50acbf0ee4b04170ccae3b85/t/51f7af4be4b07a5ac2948e83/1375186763398/Meanwhile-caption-gray.png);
		padding-top: 60px !important;
		
		.summary-item {
		  background-image: url(http://static.squarespace.com/static/50acbf0ee4b04170ccae3b85/t/51f7af7be4b097de73d05d34/1375186811054/meanwhile-arrow-gray.png);
		}
		
		.summary-title {
		  text-shadow: none;
		}
		
		.summary-title a:link,
		.summary-title a:visited {
		  color: #2f2d2b;
		}
		
	  }
  }
}


/* ////// MEDIA QUERY - MOBILE OR TAB ////// */

@media only screen and (max-width: 640px) { 
  
  body.canvas-setting-site-width #canvas  {
	padding-left: 0;
	padding-right: 0;
  }
  
  #mobile-navigation {
	background-image: url(http://static.squarespace.com/static/50acbf0ee4b04170ccae3b85/t/52beb7f5e4b09bff06022896/1388230645383/yellow-bar-mobile.png);
	background-position: top center;
	background-repeat: no-repeat;
    border-bottom: 1px solid #333 !important;
	font-size: 14px;
    
    &.sqs-mobile-nav-open {
    	padding-bottom: 0 !important;
    }
  }

  #mobile-navigation ul {
    background-color: #001119;
    background-image: url(http://static.squarespace.com/static/50acbf0ee4b04170ccae3b85/t/51f7ae5be4b0dcb625419b33/1375186523771/recently.gif);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
        
    	a, .folder-toggle-label {
			color: #fff;
          font-size: 1.5em !important;
          padding-left: 1em !important;
            text-align: left;
        }
    
    li > label ~ a {
          font-size: 1.1em !important;
          padding-left: 2.2em !important;
          text-transform: capitalize;
        }
  }

  #page-header-wrapper {
	margin: 0 !important;
  }
  
  #banner-area {
	  padding: 20px 0;
  }
  
  #banner-wrapper {
	  display: inline-block;
	  overflow: visible;
  }
  
  #banner {
	  float: none;
  }
  
  #logo-tagline {
	  display: block !important;
	  left: 0;
	  margin: 0;
	  top: 0;
	  width: 100%;
  }
  

  #page-body-wrapper {
	background-position: -10px 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 27px;
	padding-right: 27px;
  }	   
  
  #page-header-51fa4243e4b06f04f14f2136 {
	margin-left: -27px;
	margin-right: -27px;
	margin-top: 0;
	padding-left: 36px;
	padding-right: 36px;
  }

  #sidebar-one-wrapper {
	margin-left: -12px !important;
	margin-right: -12px !important;
  }

  #sidebar-one {
	border-radius: 0px;
	padding: 18px 18px 0 !important;
  }

  #block-c2900ab71e9a7507ed82 .summary-title {
	line-height: 1.2em;
	margin: 0 0 0.25em 0;
	text-shadow: none;
  }

  [data-type~="page"],
  article,
  #page-footer-wrapper,
  .pagination .content-wrapper,
  #commenting {
	padding-left: 0 !important;
	padding-right: 0 !important;
  }
  
  #page-footer-wrapper {
	margin-bottom: 0;
	margin-top: 0;
	
	.footerCredits {
	  text-align: center;
	}
	
	.row {
		margin-left: 0;
		margin-right: 0;
	}
  }
  
  .view-list article .excerpt-thumb {
	float: left;
	margin-right: 1em;
  }


}

/* ////// END MEDIA QUERY - MOBILE OR TAB ////// */

/* ////// MOBILE QUERY - LOW RES MOBILE ////// */

@media only screen and (max-width: 480px) { 
	#mobile-navigation {
	  font-size: 14px;
	  border-bottom: 1px solid rgba(255,255,255,0.2);
	}

	#mobile-navigation ul a {
	  color: #fff;
	}

	#page-header-wrapper {
	  margin-bottom: 0 !important;
	}

	#banner-area {
	  padding-top: 14px;
	  padding-bottom: 14px;
	}

	#page-body-wrapper {
	  background-position: -10px 0
	}

	#sidebar-one-wrapper {
	  background-image: none;
	}

	#sidebar-one {
	  background: -moz-linear-gradient(top,  rgba(87,73,67,0.1) 0%, rgba(255,255,255,0) 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(87,73,67,0.1)), color-stop(100%,rgba(255,255,255,0)));
	  background: -webkit-linear-gradient(top,	 rgba(87,73,67,0.1) 0%,rgba(255,255,255,0) 100%);
	  background: -o-linear-gradient(top,	rgba(87,73,67,0.1) 0%,rgba(255,255,255,0) 100%);
	  background: -ms-linear-gradient(top,	 rgba(87,73,67,0.1) 0%,rgba(255,255,255,0) 100%);
	  background: linear-gradient(to bottom,  rgba(87,73,67,0.1) 0%,rgba(255,255,255,0) 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a574943', endColorstr='#00ffffff',GradientType=0 );
	  -webkit-border-radius: 0px;
	  -moz-border-radius: 0px;
	  border-radius: 0px;
	}

	[data-type~="page"],
	article,
	#page-footer-wrapper,
	.pagination .content-wrapper,
	#commenting {
	  padding-left: 10px !important;
	  padding-right: 10px !important;
	}
}

/* ////// END MOBILE QUERY - LOW RES MOBILE ////// */